window {
    background-color: rgba(21, 18, 27, 0.75);
    border-radius: 15px;
}

#input {
    background-color: rgba(21, 18, 27, 0);;
    border-radius: 15px;
    border: 0px;
    box-shadow: none;
}

#scroll #inner-box #entry:selected {
    background-color: rgba(137, 180, 250, 0.25);
    color: white; /* White text color */
}

#scroll #inner-box #entry:focus, #entry:selected {
    outline: none;
}

