window {
    text-shadow: 1px 1px 3px black;
    background-color: rgba(110, 117, 128, 0.75);
    border-radius: 15px;
}

#input {
    text-shadow: 1px 1px 1px black;
    background: transparent;
    text-shadow: none;
    border-radius: 15px;
    border: 0px;
    box-shadow: none;
    color: white;
    opacity: 0.75;
}

#input:focus {
    text-shadow: 1px 1px 3px black;
    color: white;
}

#scroll #inner-box #entry:selected {
    background-color: rgba(0, 0, 0, 0.25);
}

#scroll #inner-box #entry:focus{
    color: white;
}

#scroll #inner-box #entry:focus,
#entry:selected {
    outline: none;
}

scrollbar slider {
    background-color: #ffffff;
}


/* scrollbar trough:hover {
    outline-color: aqua;
    scrollbar-color: rgb(0, 26, 255);
    ;
    border-color: brown;
    color: aquamarine;
} */